{%extends 'blog.html'%}
{% load static %}
{% block menu-outer %}
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
		<div class="bar"></div>
    </div>
    <nav>
        <ul>
           <li><a href={{curl}}user/>Home</a></li>
           <li><a href={{curl}}user/userblog/>Blog</a></li>
           <li><a href={{curl}}user/shop/>Shop</a></li>
		   <li><a href={{curl}}home/>Logout</a></li>
       </ul>
   </nav>
{% endblock %}
{%block pagearea%}
<div class="card1">
  <img src="{% static 'images/bg11.jpg'%}" alt="Denim Jeans" style="width:100%">
  <h1>{{title}}</h1>
  <p class="price1">{{price}}</p>
  <p>{{description}}</p>
  <p><a href={{curl}}user/umget9/><button>SHOP</button></a></p>
</div>
{%endblock%}
