{% extends 'blog.html'%}

{% block menu-outer %}
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
		
    </div>
    <nav>
        <ul>
           <li><a href={{curl}}myadmin/>Home</a></li>
            <li><a href={{curl}}myadmin/editinfo/>Edit User Info</a></li>
           <li><a href={{curl}}myadmin/addpro/>Add Product</a></li>
		   <li><a href={{curl}}myadmin/editpro/>Edit Product</a></li>
           <li><a href={{curl}}home/>Logout</a></li>
       </ul>
   </nav>
{% endblock %}

{% block pagearea%}
<h1 class="page-headline">EDIT USER CREDENTIALS</h1>
<i class="iconstartitle textmagenta fa fa-star"></i>

<p>Select What You Want To Change?
<form method="POST" action={{curl}}myadmin/editinfo/   >
{% csrf_token %}
<font color="orange" style="height:20px;">{{output}}</font>
<p></p>
<select name='field'>
    <option disabled="True" selected>Select:</option>
    <option >Name</option>
    <option >Address</option>
    <option >Mobile</option>
    <option >City</option>
    <option >Gender</option>
    <option >Role</option>
    <option >Status</option>
  </select>
<p></p>
<table cellspacing="10">
<tr>
<td>Email</td>
<td>
<input type="text" name="email" placeholder="Enter email"/>
</td>
</tr>
<tr>
<td>New Entry</td>
<td>
<input type="entry" name="entry" placeholder="New Entry"/>
</td>
</tr>
<p></p>
<tr>
<td>
<input type="submit"  value="EDIT"/> 
</td>
</tr>
</table>
</form>




{% endblock %}